/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-Apr-2017, 23:13:30
    Author     : carl
*/


.rcorners {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 320px;
}
.dottedBorders{
    border-style: dotted;
}

